POSTGRES_PASSWORD=change-me

BLINK_APP_URL=https://blink.darjosh.dev
BLINK_WEB_API_URL=https://blink.darjosh.dev
BLINK_GITHUB_CLIENT_ID=
BLINK_GITHUB_CLIENT_SECRET=
BLINK_GOOGLE_CLIENT_ID=
BLINK_GOOGLE_CLIENT_SECRET=
BLINK_JWT_SECRET=

TRANSFORMLIT_APP_URL=https://transformlit.darjosh.dev
TRANSFORMLIT_WEB_API_URL=https://transformlit.darjosh.dev/api
TRANSFORMLIT_JWT_SECRET=

# Place Cloudflare origin certs here:
# deploy/azure-vm/certs/origin.crt
# deploy/azure-vm/certs/origin.key